<nav>
    <ul>
        <div class="header clearfix">
            <nav>
              <ul class="nav nav-pills float-right">
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'payment' %}">Pay rent here<span class="sr-only"> (Coming soon)</span></a>  
                </li>
                <li>
                    <a class="nav-link active" href="{% url 'complaint' %}">File Work Order here<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'admin:index' %}">Staff Users Only<span class="sr-only"></span></a>  
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'login' %}">Logout here<span class="sr-only"></span></a>  
                </li>
              </ul>
            </nav>
            <h3 class="text-muted">StingyMeany Rent Portal</h3>
          </div>
    </ul>
</nav>